<flex-config>
	<includes append="true">
		<symbol>com.custardbelly.as3couchdb.mediator.CouchDatabaseActionMediator</symbol>
		<symbol>com.custardbelly.as3couchdb.mediator.CouchDocumentActionMediator</symbol>
		<symbol>com.custardbelly.as3couchdb.mediator.CouchSessionActionMediator</symbol>
		<symbol>com.custardbelly.as3couchdb.service.HTTPCouchRequest</symbol>
		<symbol>com.custardbelly.as3couchdb.service.HTTPSessionRequest</symbol>
	</includes>
</flex-config>